<div class="">

    <b>Commande globale</b><br/><br/>
    <table class="table-bordered orders-list">
        <tr>
            <td>Photo</td>
            <td>Nombre</td>
        </tr>
        <tr ng-repeat="(n,v) in orders.global">
            <td>{{n}}</td>
            <td>{{v}}</td>
        </tr>
    </table>
    
    <br/></br/><b>Commandes par personne</b><br/><br/>
    <table class="table-bordered orders-list">
        <tr>
            <td>Nom</td>
            <td>Mail</td>
            <td>Tirages demandés</td>
        </tr>
        <tr ng-repeat="order in orders.orders">
            <td>{{order.userName}}</td>
            <td>{{order.userMail}}</td>
            <td><pre>{{order.content}}</pre></td>
        </tr>
    </table>
    
    <br/><br/>
</div>